 <div class="table-responsive ibox-content">
        <table id="mytable" datatable="ng" dt-options="dtOptions"  class="jh-table table table-striped table-bordered table-hover dataTables-example">
			<thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                
                
                    <th style="width: 10%;text-align: center;"><span>Number</span></th>
                    <th style="width: 20%;text-align: center;"><span data-translate="">Name</span></th>
                    <th style="text-align: center;"><span>Status</span></th>
                    <th style="text-align: center;"><span>Final Filing Date</span></th>
                    <th style="text-align: center;"><span>Category</span></th>
                	<th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="solicitations in vm.solicitations track by solicitations.id">
                    <td style="text-align: center;">{{solicitations.solicitationId}}</td>
                    <td style="text-align: center;">{{solicitations.title}}</td>
                    <td style="text-align: center;">{{solicitations.status}}</td>
                    <td style="text-align: center;">{{solicitations.finalFilingDate | date:'medium'}}</td>
                    <td style="text-align: center;">{{solicitations.category}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="solicitation-reviewer-detail({id:solicitations.id})"
                                    class="btn btn-sm" style="border-color:black;color:#004A0F;">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <!-- <button type="submit"
                                    ui-sref="solicitations-detail({id:solicitations.id})"
                                    class="btn btn-sm" style="border-color:black;color:#004A0F;">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitations.delete({id:solicitations.id})"
                                    class="btn btn-sm" style="border-color:black;color:#004A0F;">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>



<!-- <div>
    <h2><span data-translate="bidopscoreApp.bidders.detail.title">Bidders</span> {{vm.bidders.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="bidopscoreApp.bidders.name">Name</span></dt>
        <dd>
            <span>{{vm.bidders.name}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.bidders.solicitationWishlistId">Solicitation Wishlist Id</span></dt>
        <dd>
            <span>{{vm.bidders.solicitationWishlistId}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.bidders.subscribedCategories">Subscribed Categories</span></dt>
        <dd>
            <span>{{vm.bidders.subscribedCategories}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.bidders.submittedSolicitationsId">Submitted Solicitations Id</span></dt>
        <dd>
            <span>{{vm.bidders.submittedSolicitationsId}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.bidders.proposedFee">Proposed Fee</span></dt>
        <dd>
            <span>{{vm.bidders.proposedFee}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.bidders.minimumScoreForEligibility">Minimum Score For Eligibility</span></dt>
        <dd>
            <span>{{vm.bidders.minimumScoreForEligibility}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.bidders.maximumFeeScore">Maximum Fee Score</span></dt>
        <dd>
            <span>{{vm.bidders.maximumFeeScore}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.bidders.feeScore">Fee Score</span></dt>
        <dd>
            <span>{{vm.bidders.feeScore}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="bidders-detail.edit({id:vm.bidders.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
 -->




<!-- <div>
    <h2 data-translate="bidopscoreApp.solicitationReviewer.home.title">Solicitation Reviewers</h2>
    <jhi-alert></jhi-alert>
    
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reviewerId"><span data-translate="bidopscoreApp.solicitationReviewer.reviewerId">Reviewer Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="solicitationId"><span data-translate="bidopscoreApp.solicitationReviewer.solicitationId">Solicitation Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="solicitationReviewer in vm.solicitationReviewers track by solicitationReviewer.id">
                    <td><a ui-sref="solicitation-reviewer-detail({id:solicitationReviewer.id})">{{solicitationReviewer.id}}</a></td>
                    <td>{{solicitationReviewer.reviewerId}}</td>
                    <td>{{solicitationReviewer.solicitationId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="solicitation-reviewer-detail({id:solicitationReviewer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitation-reviewer.edit({id:solicitationReviewer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitation-reviewer.delete({id:solicitationReviewer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
 -->