<div>
    <h2 data-translate="bidopscoreApp.solicitationReviewer.home.title">Solicitation Reviewers</h2>
    <jhi-alert></jhi-alert>
    
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reviewerId"><span data-translate="bidopscoreApp.solicitationReviewer.reviewerId">Reviewer Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="solicitationId"><span data-translate="bidopscoreApp.solicitationReviewer.solicitationId">Solicitation Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="solicitationReviewer in vm.solicitationReviewers track by solicitationReviewer.id">
                    <!--<td><a ui-sref="solicitation-reviewer-detail({id:solicitationReviewer.id})">{{solicitationReviewer.id}}</a></td>-->
                    <td>{{solicitationReviewer.reviewerId}}</td>
                    <td>{{solicitationReviewer.solicitationId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="solicitation-reviewer-detail({id:solicitationReviewer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitation-reviewer.edit({id:solicitationReviewer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitation-reviewer.delete({id:solicitationReviewer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
