<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<script type="text/javascript" src="jquery-1.8.0.min.js"></script>
<style>
#imagePreview {
	width: 180px;
	height: 180px;
	background-position: center center;
	background-size: cover;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
	display: inline-block;
	margin-left: 137px;
}
</style>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
	function PreviewImage() {
		pdffile = document.getElementById("upload").files[0];
		pdffile_url = URL.createObjectURL(pdffile);
		$('#viewer').attr('src', pdffile_url);
	}

	function ValidateExtension() {
		var allowedFiles = [ ".doc", ".docx", ".pdf" ];
		var uploadPDF = document.getElementById("upload");
		var lblError = document.getElementById("lblError");
		var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+("
				+ allowedFiles.join('|') + ")$");
		if (!regex.test(uploadPDF.value.toLowerCase())) {
			lblError.innerHTML = "Please upload files having extensions: <b>"
					+ allowedFiles.join(', ') + "</b> only.";
			return false;
		}
		lblError.innerHTML = "";
		return true;
	}
</script>
</head>
<body>


	<form name="editForm" role="form" novalidate ng-submit="save()">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true" ng-click="clear()">&times;</button>
			<h4 class="modal-title">UPLOAD DOCUMENT</h4>
		</div>
		<div class="modal-body">
			<jh-alert-error></jh-alert-error>
			<div class="form-group" style="margin-top: 15px">
				<label1 style="margin-left: 56px; margin-top: -18px;">Name</label1>
				<input type="text" id="documentName"
					ng-model="solicitations.requiredDocuments.Manuals.Name"
					required ng-maxlength="100"
					style="margin-left: 49px; width: auto; min-width: 230px; max-width: 500px;">
			</div>

			<div class="form-group" style="margin-top: 15px">
				<label1 style="margin-left: 56px; margin-top: -18px;">Purpose</label1>
				<input type="text" id="Purpose"
					ng-model="solicitations.requiredDocuments.Manuals.Purpose"
					required ng-maxlength="100"
					style="margin-left: 34px; width: auto; min-width: 230px; max-width: 500px;">
			</div>

			<div class="form-group">
				<!--  <label1 style="margin-left: 56px">Upload</label1>   -->
				<div style="clear: both">
					<iframe id="viewer" frameborder="0" style="margin-left: 133px"
						scrolling="no" width="550" height="300"></iframe>
				</div>
				<input id="upload" type="file" style="margin-left: 133px"
					name="myPDF" /> </br> <input type="button" value="Preview"
					style="margin-left: 133px;" onclick="PreviewImage();" /> <input
					type="submit" id="btnUpload" value="Upload" ng-click="uploadFile()" />
				<span id="lblError" style="color: red; margin-left: 128px"></span>


			</div>
			<div class="form-group">
				<label1 style="margin-left: 56px">URL</label1>
				<input id="field_solicitations" style="margin-left: 50px; width: auto; min-width: 230px; max-width: 500px;"
					ng-model="solicitations.requiredDocuments.Manuals.URL" />
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal"
				ng-click="cancel('cancel')">
				<i class="fa fa-times"></i>&nbsp;<span
					translate="entity.action.cancel">Cancel</span>
			</button>
			<button type="button"
				ng-disabled="editForm.$invalid || editForm.$submitted"
				data-dismiss="modal" ng-click="saveConfirmed()"
				class="btn btn-primary">
				<i class="fa fa-floppy-o"></i>&nbsp;<span
					translate="entity.action.save">Save</span>
			</button>
		</div>
	</form>



</body>
</html>

