<div>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2 style="font-weight: 500;"><span class="fa fa-user"></span>&nbsp; Solicitations Management</h2>
			<ol class="breadcrumb">
				<li>
					<span>Solicitations</span>
				</li>
				<li>
					<strong>{{vm.solicitations.title}}</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-2">   
		</div>
	</div>
    <jhi-alert-error></jhi-alert-error>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
						<span class="fa fa-arrow-left"></span>&nbsp;<span class="hidden-xs hidden-sm" translate="entity.action.back"> Back</span>
						</button>
					</div>
					<div class="ibox-content">
						<div id="tabs">
							<ul class="nav nav-tabs" style="margin-top: 15px"> <!-- margin-left: 11%;  -->
								<li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}">
									<a data-toggle="tab" ng-click="onClickTab(tab)">{{tab.title}}</a>
								</li>
							</ul>
							<div id="mainView">
								<div ng-include="currentTab"></div>
							</div>
						</div>
						<script type="text/ng-template" id="details.tpl.html">
							<div class="tab-content container">
								<div id="viewOne" class="tab-pane fade in active">
									<div class="col-lg-12 form-horizontal">
										<div class="ibox float-e-margins" style="margin-top: 30px;">
											<div class="ibox-content" style="border-width: 0 0 0 0">
												<div class="form-group">
													<label class="col-sm-2 control-label">Title</label>
													<div class="col-sm-3">
														<input style="width: 423px;" type="text" class="form-control-1"
														 ng-model="vm.solicitations.title" required
														ng-maxlength="100">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">Status</label>
													<div class="col-sm-3">
														<input style="width: 423px;" type="text" class="form-control-1" ng-model="vm.solicitations.status">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">Final Filing Date</label>
														<div class="col-sm-3">
														<input style="width: 423px;" class="form-control-1" type="text" date='MM/dd/yyyy hh:mm a' datetimepicker ng-model="vm.solicitations.finalFilingDate" placeholder="click to select date-time" />
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">Last Updated</label>
													<div class="col-sm-3">
														<input style="width: 423px;" class="form-control-1" type="text" date='MM/dd/yyyy hh:mm a' 
														datetimepicker ng-model="vm.solicitations.lastUpdated" placeholder="click to select date-time" />
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">Type</label>
													<div class="col-sm-3">
														<select style="width: 423px;" class="form-control-1"
														ng-model="vm.solicitations.type">
														<option value="Solicitations">Solicitations</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">Category</label>
													<div class="col-sm-3">
														<select style="width: 423px;" class="form-control-1"
														ng-model="vm.solicitations.category">
														<option value="">---</option>
														<option value="Agriculture">Agriculture</option>
														<option value="Aerospace">Aerospace</option>
														<option value="Information Technology">Information Technology</option>
														<option value="Sports">Sports</option>
														</select>
													</div>
												</div>	
												<div class="form-group">
													<label class="col-sm-2 control-label">Description</label>
													<div class="col-sm-3">
														<input style="width: 423px;" type="text" class="form-control-1"
														ng-model="vm.solicitations.description">
													</div>
												</div>
													
												
												<div class="form-group">
													<div class="col-sm-4 col-sm-offset-2">
														<button class="btn btn-primary" ng-click="saveDetailsModal()"
														ng-disabled="editForm.$invalid || editForm.$submitted">
															<i class="fa fa-floppy-o"></i>&nbsp;<span class="hidden-xs hidden-sm"
															translate="entity.action.save">Save</span>
														</button>
														<button class="btn btn-primary" data-dismiss="modal"
														ng-click="cancelDetailsModal()" style="background-color: #ccc; border-color: #ccc;">
															<i class="fa fa-times"></i>&nbsp;<span class="hidden-xs hidden-sm"
															translate="entity.action.cancel">Cancel</span>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</script>
						<script type="text/ng-template" id="Documents.tpl.html">
							<div class="tab-content container">
								<div id="viewTwo"class="tab-pane fade in active">
									<div class="col-lg-12">
										<div class="ibox float-e-margins" style="margin-top: 30px;">
											<div class="ibox-title" style="border-width: 0 0 0 0">	
												<button type="submit" class="btn btn-primary"
												ng-click="requiredDocumentsInfoCreateModal()">
													<span class="fa fa-plus"></span>
													<span class="hidden-xs hidden-sm">
														Create
													</span>
												</button>
											</div><br/>
											<div class="ibox-content table-responsive">
												<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
													<thead>
														<tr class="table-tr-th">
															<th>Attribute</th>
															<th>Value</th>
															<th></th>
															<th>Actions</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="(key, value) in vm.managedSite.siteExtraInfo track by $index"
														ng-if="key!='thresholdDefinition'">
															<td>{{key}}</td>
															<td>{{value}}</td>
															<td><div class="form-group">
													<label class="col-sm-2 control-label" for="uploadPDF">Display Image</label> 
													<div class="col-sm-3">					
														<img ng-src="{{vm.managedSite.siteDisplayImageRef}}"
														alt="No Image Available"
														style="width: 150px; height: 90px"></img>
														
														<input id="uploadPDF" type="file"
														style="margin-top: 25px" name="myPDF" /> </br>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="field_siteDisplayImageUrl">Display Image URL</label>
													<div class="col-sm-3">
														<input type="text" class="form-control-1"
														name="siteDisplayImageUrl" id="field_siteDisplayImageUrl" readonly
														ng-model="vm.managedSite.siteDisplayImageRef">
													</div>
												</div>	</td>
															<td>
																<button type="submit" class="btn btn-primary btn-sm btn-margin"
																ng-click="requiredDocumentsInfoEditModal(key)">
																	<span class="fa fa-pencil"></span>
																	<span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
																</button>
																<button type="submit" class="btn btn-danger btn-sm btn-margin"
																ng-click="requiredDocumentsInfoDeleteModal(key, value)">
																	<span class="fa fa-times-circle-o"></span>
																	<span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
																</button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</script>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- 
<div>
    <h2><span data-translate="bidopscoreApp.solicitations.detail.title">Solicitations</span> {{vm.solicitations.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="bidopscoreApp.solicitations.solicitationId">Solicitation Id</span></dt>
        <dd>
            <span>{{vm.solicitations.solicitationId}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.title">Title</span></dt>
        <dd>
            <span>{{vm.solicitations.title}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.status">Status</span></dt>
        <dd>
            <span>{{vm.solicitations.status}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.finalFilingDate">Final Filing Date</span></dt>
        <dd>
            <span>{{vm.solicitations.finalFilingDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.lastUpdated">Last Updated</span></dt>
        <dd>
            <span>{{vm.solicitations.lastUpdated | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.type">Type</span></dt>
        <dd>
            <span>{{vm.solicitations.type}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.description">Description</span></dt>
        <dd>
            <span>{{vm.solicitations.description}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.category">Category</span></dt>
        <dd>
            <span>{{vm.solicitations.category}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.requiredDocuments">Required Documents</span></dt>
        <dd>
            <span>{{vm.solicitations.requiredDocuments}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.reviewerDeliveryStatus">Reviewer Delivery Status</span></dt>
        <dd>
            <span>{{vm.solicitations.reviewerDeliveryStatus}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.approverStatus">Approver Status</span></dt>
        <dd>
            <span>{{vm.solicitations.approverStatus}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.authorId">Author Id</span></dt>
        <dd>
            <span>{{vm.solicitations.authorId}}</span>
        </dd>
        <dt><span data-translate="bidopscoreApp.solicitations.reviewerId">Reviewer Id</span></dt>
        <dd>
            <span>{{vm.solicitations.reviewerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="solicitations-detail.edit({id:vm.solicitations.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>  -->
