<div>
    <h2 data-translate="bidopscoreApp.solicitations.home.title">Solicitations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="solicitations.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bidopscoreApp.solicitations.home.createLabel">
                        Create new Solicitations
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive ibox-content">
        <table id="mytable" datatable="ng" dt-options="dtOptions"  class="jh-table table table-striped table-bordered table-hover dataTables-example">
			<thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                
                
                    <th><span>Id</span></th>
                    <th><span data-translate="bidopscoreApp.solicitations.title">Title</span></th>
                    <th><span data-translate="bidopscoreApp.solicitations.status">Status</span></th>
                    <th><span data-translate="bidopscoreApp.solicitations.finalFilingDate">Final Filing Date</span></th>
                    <th><span data-translate="bidopscoreApp.solicitations.category">Category</span></th>
                    <th><span>Author</span></th>
                    <th><span>Reviewer</span></th>
                	<th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="solicitations in vm.solicitations track by solicitations.id">
                    <td>{{solicitations.solicitationId}}</td>
                    <td>{{solicitations.title}}</td>
                    <td>{{solicitations.status}}</td>
                    <td>{{solicitations.finalFilingDate | date:'medium'}}</td>
                    <td>{{solicitations.category}}</td>
                    <td>{{solicitations.authorId}}</td>
                    <td>{{solicitations.reviewerId}}</td> 
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="solicitations-detail1({id:solicitations.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitations-detail({id:solicitations.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitations.delete({id:solicitations.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
